<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="stylesheet" href="./styles/product.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://github.com/shrvn12/tech_project_images/blob/main/icons&logos/favicon.png?raw=true" type="image/x-icon">
    <title>Hang on...</title>

</head>
<body>

    <div class="nav">
        <div>
            <img src="./icons&logos/TTP_white_icon.png" alt="">
        </div>
        <div>
            <a href="./">Home</a>
            <a href="./product_gallery">Select</a>
            <a href="./wishlist">Wishlist</a>
            <a class="login" href="./login">Login</a>
            <a class="login" href="./register">Signup</a>
            <a class="logout">Logout</a>
        </div>
        <div>
            <p id="username"></p>
        </div>
    </div>

    <div class="main" id="{{id}}">
            
        <div class="main_img">
            <div>
                <img id="lavendar-blue" src="" alt="">
                <img id="lavendar-blue" src="" alt="">
                <img id="lavendar-blue" src="" alt="">
                <img id="lavendar-blue" src="" alt="">
                <img id="lavendar-blue" src="" alt="">
            </div>
            
            <div>

                <div>
                    <img class="back" src="./svg/back-svgrepo-com.svg" alt="">
                </div>

                <div class="images">
                    <img id="lavendar-blue" src="" alt="">
                    <img id="lavendar-blue" src="" alt="">
                    <img id="lavendar-blue" src="" alt="">
                    <img id="lavendar-blue" src="" alt="">
                    <img id="lavendar-blue" src="" alt="">
                </div>
                <div>
                    <img class="front" src="./svg/forward-svgrepo-com.svg" alt="">
                </div>

            </div>
        </div>

        <div class="details">
            <div>
                <img id="icon" src="" alt="Icon">
                <svg title="Add to wishlist" id="heart" width="800px" height="800px" viewBox="0 0 24 24" fill="#ff0000" xmlns="http://www.w3.org/2000/svg">
                    <path title="Add to wishlist" id="path" d="M12.62 20.81C12.28 20.93 11.72 20.93 11.38 20.81C8.48 19.82 2 15.69 2 8.68998C2 5.59998 4.49 3.09998 7.56 3.09998C9.38 3.09998 10.99 3.97998 12 5.33998C13.01 3.97998 14.63 3.09998 16.44 3.09998C19.51 3.09998 22 5.59998 22 8.68998C22 15.69 15.52 19.82 12.62 20.81Z" stroke="#ff0000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <h1 id="title">Hang on...</h1>
            <p id="color_name" ></p>
            <div id="device_colors">
                <img class="color" id="lavendar-blue" src="" alt="">
                <img class="color" id="matte-charcoal" src="" alt="">
            </div>
            <div class="stores" >
                <div id="store" >
                    <img src="./svg/flipkart-logo.svg" alt="">
                </div>
                <p>Rs. 00,000</p>
                <p>Discount: 00%</p>
                <p>In Stock</p>
            </div>
        </div>
    </div>

    <div class="specs">

        <!-- <div class="info_div" id="performance">
            <div>
               <p>Performance</p> 
            </div>
            <div class="box2">
                <div>
                    <p class="heading">Operating System</p>  
                    <p class="detail">Android™ 13</p>
                </div>
            </div>
        </div> -->

    </div>
</body>
</html>
<script src="./scripts/product.js"></script>
<script src="./scripts/navbar.js"></script>