<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset yout password</title>
    <link rel="shortcut icon" href="https://github.com/shrvn12/tech_project_images/blob/main/icons&logos/favicon.png?raw=true" type="image/x-icon">
    <link rel="stylesheet" href="./styles/reset_pswd.css">
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="back_button">
        <img src="./svg/back-svgrepo-com.svg" alt="">
    </div>
    
    <h1 class="heading">Reset your password</h1>

    <form class="reset_form">
        <p>New Password</p>
        <input id="pswd" type="password" required>
        <p>Confirm Password</p>
        <input id="conf_pswd" type="password" required>
        <button type="submit">Change Password</button>
    </form>

</body>
</html>

<script src="./scripts/reset.js"></script>