<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
    <link rel="stylesheet" href="./styles/verify.css">
    <link rel="shortcut icon" href="https://github.com/shrvn12/tech_project_images/blob/main/icons&logos/favicon.png?raw=true" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="back_button">
        <img src="./svg/back-svgrepo-com.svg" alt="">
    </div>
    <h1>Verify, It's you</h1>

    <form class="email">
        <p>E-mail</p>
        <input id="email" type="email" required>
        <button>Send OTP</button>
    </form>
    <form class="otp">
        <p>OTP</p>
        <div>
            <input type="number" required>
            <input type="number" required>
            <input type="number" required>
            <input type="number" required>
            <input type="number" required>
            <input type="number" required>
        </div>
        <button type="submit">Verify</button>
    </form>

</body>
</html>

<script src="./scripts/verify.js"></script>