<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="stylesheet" href="./styles/gallery.css">
    <link rel="stylesheet" href="./styles/wishlist.css">
    <link rel="shortcut icon" href="https://github.com/shrvn12/tech_project_images/blob/main/icons&logos/favicon.png?raw=true" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div>
            <img src="./icons&logos/TTP_white_icon.png" alt="">
        </div>
        <div>
            <a href="./">Home</a>
            <a href="./product_gallery">Select</a>
            <a href="./wishlist">Wishlist</a>
            <a class="login" href="./login">Login</a>
            <a class="login" href="./register">Signup</a>
            <a class="logout">Logout</a>
        </div>
        <div>
            <p id="username"></p>
        </div>
    </div>


    <div class="gallery">

        <div class="dummy"></div>
        <div class="dummy"></div>
        <div class="dummy"></div>
        
        <!-- ================================Syntax====================================================== -->

        <!-- <div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/products/cream_300x.png?v=1668756103" alt="">
            </div>
            <div>
                <h3>Title</h3>
                <h3>price</h3> <h3>discount</h3>
                <hr>
                <div class="colours">
                        <div>
                            <img src="https://i01.appmifile.com/v1/MI_18455B3E4DA706226CF7535A58E875F0267/pms_1672740794.53385063.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://i01.appmifile.com/v1/MI_18455B3E4DA706226CF7535A58E875F0267/pms_1672740812.0287059.jpg" alt="">
                        </div>
                        <div>
                            <img src="https://i01.appmifile.com/v1/MI_18455B3E4DA706226CF7535A58E875F0267/pms_1672740832.1415277.jpg" alt="">
                        </div>
                </div>
                <button>Add to cart</button>
                <button>Remove</button>
            </div>
        </div> -->

        <!-- ========================================================================================================== -->

    </div>

</body>
</html>
<script src="./scripts/wishlist.js"></script>
<script src="./scripts/navbar.js"></script>
